
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url("./website\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    animation-name: fade;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
    animation-duration: 1000ms;
    transform: scale(1.1);
    transform-origin: center;
}
.logo {
    width: 15rem;
    height: 160px; 
   
}
.link {
    width: 100%;
    font-size: 15px;
    text-align: center;
    animation-name: fade;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
    animation-duration: 1000ms;
    transform: scale(1.1);
    transform-origin: center;
}
a {
    font-size: 15px;
    color: #9e9e9e;
    text-decoration: none;
    text-align: center;
}
.box {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    margin-bottom: 1.3rem;
}
svg {
    color: white;
    width: 22px;
    height: 22px;
}
.twitter svg:hover {
    fill: #37688e;
}
.twitter {
    border: 1px solid #37688e;
}
.youtube {
    border: 1px solid #6b0809;
}
.youtube svg:hover {
    fill: #6b0809;
}
.twitch {
    border: 1px solid #4a5785;
}
.twitch svg:hover {
    fill: #4a5785;
}
.instagram {
    border: 1px solid #1c475e;
}
.instagram svg:hover {
    fill: #1c475e;
}
.discord {
    border: 1px solid #5868a3;
}
.discord svg:hover {
    fill: #5868a3;
}
.tiktok {
    border: 1px solid #05a87f;
}
.tiktok svg:hover {
    fill: #05a87f;
}
.coffee {
    border: 1px solid #7A7917;
}
.coffee svg:hover {
    fill: #7A7917;
}
.streamele {
    
    border: 1px solid #434c50;
}
.streamele svg:hover {
    fill: #434c50;
}
.you {
    width: 35px;
    height: 35px;
}
section {
   
   text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    animation-name: fade;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
    animation-duration: 1000ms;
    transform: scale(1.1);
    transform-origin: center;
}
@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    }
}
div a {
    color: white;
}
path {
    width: 22px;
    height: 22px;
    color: white;
}

section div {
    width: 44px;
}
section div {
    color: white;
}

@media only screen and (max-width: 550px) {
    section {
        width: 90%;
        margin: 0 auto;
    }
}